@charset "utf-8";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}

body,html{font-size: 12px; font-family: 'GmarketSansLight';}
ol,ul{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
a{text-decoration: none; color: inherit;}
img{vertical-align: bottom;}
address,em{font-style: normal;}
table{border-collapse: collapse;}
button{border: none;}
input,select{vertical-align: middle; border: none;}