@charset "utf-8";

#wrap{
	width: 100%;
	height: 100%;
	background: url("../img/bg.jpg") repeat;
	overflow: hidden;
	position: relative;
}


/* 내비게이션 시작 */

#navi{
	position: fixed;
	left: 0;
	top: 0;
    overflow: hidden;
	width: 19%;
	height: 100%;
	text-align: center;
	z-index: 700;
    font-family: 'GmarketSansMedium';
}
#navi h1{
	padding: 3rem;
}
#navi h1 a img{
    width: 100%;
}
#navi .menu{
    padding-top: 3rem;
}
#navi .menu li{
	padding: 30px 0;
	color: #fff;
	font-size: 1.3rem;
	letter-spacing: 8px;
	font-weight: bold;
}

.sns{
	overflow: hidden;
	position: absolute;
	display: block;
	width: 100%;
	bottom: 5%;
	left: 0;
}
.sns li{
    float: left;
    width: 10%;
    margin-left: 15%;
    height: 32px;
}
.sns li:first-child{
    margin-left: 20%;
}
.sns li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

.link1{background: url("../img/q_facebook1.png") no-repeat; background-size: contain;}
.link2{background: url("../img/q_insta1.png") no-repeat; background-size: contain;}
.link3{background: url("../img/q_twitter1.png") no-repeat; background-size: contain;}
.link1:hover{background: url("../img/q_facebook2.png") no-repeat; background-size: contain;}
.link2:hover{background: url("../img/q_insta2.png") no-repeat; background-size: contain;}
.link3:hover{background: url("../img/q_twitter2.png") no-repeat; background-size: contain;}


/* 내비게이션 끝 */


/* 모바일 내비게이션 버튼 시작 */
.open-overlay {
    position: fixed;
    right: 2rem;
    top: 0.8rem;
    z-index: 999;
    width: 34px;
    display: none;
    cursor: pointer;
}

.open-overlay span {
    display: block;
    height: 3px;
    border-radius: 30px;
    background-color: #066aaa;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .animate-top-bar {
    animation: animate-top-bar .6s linear 1 both
  }
  
  .animate-bottom-bar {
    animation: animate-bottom-bar .6s linear 1 both
  }
  
  .animate-middle-bar {
    animation: animate-middle-bar .6s linear 1 both
  }
  
  .animate-out-top-bar {
    animation: animate-out-top-bar .6s linear 1 both
  }
  
  .animate-out-bottom-bar {
    animation: animate-out-bottom-bar .6s linear 1 both
  }
  
  .animate-out-middle-bar {
    animation: animate-out-middle-bar .6s linear 1 both
  }
  
  
  /* ====================================
  Animation keyframes
  ==================================== */
  
  
  @keyframes animate-top-bar {
    0% {
      background-color: #066aaa;
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      background-color: #066aaa;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #066aaa;
    }
  }
  
  @keyframes animate-bottom-bar {
    0% {
      background-color: #066aaa;
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes animate-middle-bar {
    0% {
      background-color: #066aaa;
    }
    80% {
      background-color: #066aaa;
    }
    100% {
      background-color: #066aaa;
    }
  }
  
  @keyframes animate-out-top-bar {
    0% {
      background-color: #066aaa;
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      background-color: #066aaa;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #066aaa;
    }
  }
  
  @keyframes animate-out-bottom-bar {
    0% {
      background-color: #066aaa;
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes animate-out-middle-bar {
    0% {
      background-color: #066aaa;
    }
    80% {
      background-color: #066aaa;
    }
    100% {
      background-color: #066aaa;
    }
  }
/* 모바일 내비게이션 버튼 끝 */

/* 모바일 내비게이션 시작 */

.overlay-navigation {
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    transform: translateY(-100%);
  }
  
  .overlay-slide-down {
    transition: all .4s ease-in-out;
    transform: translateY(0);
  }
  
  .overlay-slide-up {
    transition: all .8s ease-in-out;
    transform: translateY(-100%);
  }
  
  nav{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  
  nav ul {
    position: absolute;
    width: 100%;
    top: 60%;
    transform: translate(0, -50%);
    text-align: center;
  }
  
  nav ul li {
    text-align: center;
    display: block;
    font-family: 'Gmarketsansmedium';
    font-size: 2.5rem;
    line-height: 2.3;
    overflow: hidden;
    transform: translateY(-100%);
  }
  
  nav li a {
    color: #000;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 2.5rem;
  }
  
  nav li a:hover{
    color: #066aaa;
  }

/* 모바일 내비게이션 끝 */

/* 컨텐츠 시작 */
#main{
	float: right;
	width: 80%;
	overflow: hidden;
}

#main #content{
	width: 100%;
	position: relative;
	z-index: 4;
}

#main #content>div{
/*	border-bottom: 3px solid #333;*/
	width: 100%;
	text-align: center;
    min-height: 60rem;
}

#main #content .title{}
#main #content .title h2{
    font-family: 'GmarketSansBold';
	font-size: 3rem;
	letter-spacing: 10px;
	margin-bottom: 5rem;
}

#main #content .list{
	width: 80%;
	margin: 0 auto;	
	position: relative;
}

#main #content .tab{	
	height: 80px;
	width: 100%;
	left: 0;
}

#main #content .tab li{
	float: left;
	width: 25%;
	height: 50px;
}
.tab button{
	background-color: #055aaa;
	width: 24%;
	height: 50px;
	margin-top: 30px;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #ffda55;
	font-weight: bold;
	letter-spacing: 0.3rem;
	display: block;
	float: left;
	cursor: pointer;
    text-align: center;
    font-family: 'GmarketSansBold';
}
.tab button+button{
	margin-left: 2px;
}
.tab button:first-child{
	background-color: #ffda55;
	height: 80px;
	margin-top: 0;
	color: #fff;
    font-size: 170%;
}



.section01{
    margin: 0 auto 10rem;
}
.section01 ul{
	width: 100%;
    position: relative;
    overflow: hidden;
}
.section01 ul li img{
	width: 100%;
}


.section02{
    margin: 0 auto 15rem;
}
.section02 .title{
}
.section02 .title p{
	line-height: 1.8;
	padding-bottom: 2rem;
}
.section02 .title p:last-child{
  padding-bottom: 5rem;
}
.section02 .list{
	overflow: hidden;
	position: relative;
    margin: auto 0;
}
.section02 .list li{
	width: 32%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 250px;
  	margin-left: 1%;
}
.section02 .list li:first-child{
    margin-left: 0;
}
.section02 .list li img{
  display: block;
  width: 100%;
}
.section02 .list li span{
	position: absolute;
	top: 0;
	left: 0;
}
.section02 .list .list01{}
.section02 .list .rotate01{
	transition: all 0.5s;
	z-index: 2;
	opacity: 1;
}
.section02 .list .rotate02{
	transition: all 0.5s;
	opacity: 0;
	transform: rotateY(180deg)}
.section02 .list li:hover .rotate01{
	transform: rotateY(180deg);
	opacity: 0;
}
.section02 .list li:hover .rotate02{
	transform: rotateY(0deg);
	opacity: 1;
}
.section02 .text{
	padding-top: 5rem;
	font-size: 1.5rem;
	line-height: 1.8;
	color: #fff;
}
.subject{
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.section02 .text p:nth-child(2){
	font-size: 2rem;
	font-weight: bold;
}



.section03{
    margin: 0 auto 23rem;
    position: relative;
    overflow: hidden;
}
.section03 .list{
	background: url(../img/story/line.png) no-repeat center;
	width: 100%;
    height: 696px;
}
.section03 .list>div{
	position: absolute;
	width: 50%;
	top: 300px;
}
.section03 .list .text{
	position: absolute;
	text-align: justify;
	line-height: 1.8;
	font-size: 1.3rem;
}
.section03 .list .year2014{
	left: 150px;
	opacity: 0;
	transform: translateY(435px);
	transition: all .4s;
}
.section03 .list .year2014 img:first-child{
	position: absolute;
	left: 90px;
	bottom: 65px;
}
.section03 .list .year2014 img:nth-child(2){
    width: 90%;
	position: absolute;
	left: -205px;
	bottom: 10px;
}
.year2014 .text{
	bottom: 70px;
	left: -31%;
	color: #fff;
	width: 100%;
}
.section03 .list .year2014.show{
	opacity: 1;
	transform: translateY(395px);
}
.section03 .list .year2015{
	right: 150px;
	opacity: 0;
	transform: translateY(385px);
	transition: all .4s;
}
.section03 .list .year2015 img:first-child{
	position: absolute;
	right: 40px;
	bottom: 155px;
}
.section03 .list .year2015 img:nth-child(2){
    width: 90%;
	position: absolute;
	right: -200px;
	bottom: 70px;
}
.year2015 .text{
	right: -22%;
	bottom: 104px;
	color: #055aaa;
}
.section03 .list .year2015.show{
	opacity: 1;
	transform: translateY(345px);
}
.section03 .list .year2016{
	left: -5%;
	opacity: 0;
	transform: translateY(345px);
	transition: all .4s;
}
.section03 .list .year2016 img:first-child{
	position: absolute;
	left: 70px;
	bottom: 250px;
}
.section03 .list .year2016 img:nth-child(2){
    width: 90%;
	position: absolute;
	left: -50px;
	bottom: 170px;
}
.year2016 .text{
	left: 50px;
	bottom: 205px;
	color: #ffffff;
}
.section03 .list .year2016.show{
	left: -5%;
	opacity: 1;
	transform: translateY(305px);
}
.section03 .list .year2017{
	right: -5px;
	opacity: 0;
	transform: translateY(235px);
	transition: all .4s;
}
.section03 .list .year2017 img:nth-child(1){
	position: absolute;
	right: 23%;
	bottom: 280px;
}
.section03 .list .year2017 img:nth-child(2){
    width: 90%;
	position: absolute;
	right: -25%;
	bottom: 220px;
}
.year2017 .text{
	right: -6%;
	bottom: 254px;
	color: #055aaa;
}
.section03 .list .year2017.show{
	right: -5px;
	opacity: 1;
	transform: translateY(195px);
}
.section03 .list .year2018{
	left: -5%;
	opacity: 0;
	transform: translateY(-72px);
	transition: all .4s;
}
.section03 .list .year2018 img:first-child{
    width: 40%;
	position: absolute;
	left: 70%;
	bottom: 115px;
}
.section03 .list .year2018 img:nth-child(2){
    width: 90%;
	position: absolute;
	left: 0%;
	bottom: 15px;
}
.year2018 .text{
	left: 23%;
	bottom: 51px;
	color: #fff;
}
.section03 .list .year2018.show{
	left: -5%;
	opacity: 1;
	transform: translateY(-112px);
}
.section03 .mlist{
    display: none;
}


.section04{
    margin: 0 auto 18rem;
}
.section04 .list{
	position: relative;
}
.section04 .box{
	width: 100%;
	position: absolute;
	background: #fff;
    padding: 2% 0;
	border: #ffda55 10px solid;
}
.section04 .box ul{
    width: 100%;
	margin: 3% 0 0;
	overflow: hidden;
}
.section04 .box li{
	float: left;
    position: relative;
}
.section04 .box li:first-child{
	margin-left: 2%;
}
.section04 .box .text span{
	display: block;
}
.section04 .box .text span:first-child{
    font-family: 'GmarketSansMedium';
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 5px;
}
.section04 .box .text span:nth-child(2){
	margin: 2% 0;
}
.section04 .box .text span:nth-child(3){
	line-height: 1.5;
}
.box_list01 .text{
    margin: 1% 0;
}
.box_list01 ul{
	width: 100%;
}
.box_list01 ul li{
    width: 16%;
    float: left;
}
.box_list01 ul li img{
    width: 100%;
}
.box_list02{
	display: none;
}
.box_list02 .text{
	margin: 1% 0;
}
.box_list02 ul{
	width: 100%;
}
.box_list02 ul li{
    width: 19%;
    float: left;
}
.box_list02 ul li img{
    width: 100%;
}
.box_list03{
	display: none;
    margin-bottom: -1%;
}
.box_list03 .text{
    margin: 1% 0 3%;
}
.box_list03 ul{}
.box_list03 ul li{
    width: 24%;
    float: left;
}
.box_list03 ul li img{
    width: 100%;
}
.box_list03 .sauce{
	overflow: hidden;
    position: relative;
    margin: 2% 5%;
}
.box_list03 .sauce .title{
	float: left;
    margin-top: 4%;
    width: 25%;
}
.box_list03 .sauce h4{
    font-size: 2.3rem;
	letter-spacing: 10px;
}
.box_list03 .sauce span{
	display: block;
    float: left;
	width: 1px;
    margin-top: 1%;
    margin-left: 2%;
	height: 12vh;
	background: #ccc;
}
.pic{
	float: right;
    width: 70%;
}
.pic img{
    width: 100%;
}
.box_list04{
	display: none;
}
.section04 .box .box_list04 .text{
	margin: 2% 0 1%;
}
.box_list04 ul{
	width: 100%;
    padding-left: 2%;
    padding-bottom: 1%;
}
.box_list04 ul li{
    width: 18%;
    float: left;
}
.box_list04 li:nth-child(3){
    width: 8%;
}
.box_list04 li:nth-child(4){
    width: 16.5%;
}
.box_list04 li:nth-child(5){
    width: 16.5%;
}
.box_list04 li:nth-child(6){
    width: 16.5%;
}
.box_list04 li span{
	display: block;
	width: 1px;
	height: 27vh;
	background: #ccc;
    margin-left: 50%;
    margin-top: 50%;
}
.box_list04 ul li img{
    width: 100%;
}
.Mbox{
    display: none;
}




.section05{}
.section05 .list{
    position: relative;
}
.section05 .box{
	width: 100%;
	position: absolute;
	background: #fff;
	border: #ffda55 10px solid;
    overflow: hidden;
}
.section05 .store{
	width: 70%;
	float: left;
	position: relative;
}
.section05 .store li{
	position: absolute;
	left: 0;
	top: 0;
    height: 70vh;
	overflow: hidden;
	width: 100%;
}
.store_list01 .slist1{
    background: url("../img/store/1-1.jpg");
    background-size: cover;
}
.slist2{
    background: url("../img/store/1-2.jpg");
    background-size: cover;
}
.slist3{
    background: url("../img/store/1-3.jpg");
    background-size: cover;
}
.store_list02 .slist1{
    background: url("../img/store/2-1.jpg") bottom;
    background-size: cover;
}
.store_list03 .slist1{
    background: url("../img/store/3-1.jpg") center;
    background-size: cover;
}
.section05 .stap{
	float: right;
	width: 30%;
}
.section05 .tab button:first-child{
	background-color: #ffda55;
	width: 24%;
	height: 80px;
	margin-top: 0;
}
.section05 .tab button{
	background-color: #055aaa;
	width: 24%;
	height: 50px;
	margin-top: 30px;
}
.section05 .stap{
	background: url("../img/store/whale.jpg") no-repeat center bottom;
	height: 65vh;
}
.section05 .stap button{
	display: block;
	width: 100%;
	text-align: left;
	padding: 20px;
	background: transparent;
	line-height: 1.8;
}
.section05 .stap button h4{
	font-size: 1.2rem;
}
.section05 .stap button p{
	font-size: 0.9rem;
}
.section05 .stap button:hover{
	background-color: rgba(255, 218, 85, 0.3);
	cursor: pointer;
}
.store_list02{
	display: none;
}
.store_list03{
	display: none;
}
.slist1{
	z-index: 2;
}

.back_slider{
background-color: #fff;
position: fixed;
width: 100%;
left: 0;
top:-800px;
height: 950px;
transition: all 0.8;
opacity:1;
z-index:3;}

.back_slider .round{
position: absolute;
width: 100%;
bottom: -29px;
background:url("../img/bg-pattern.png");
height: 29px;}

.sticky{
    bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius: 50%;
  opacity: 0.8;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2){
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3){
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
} 
.bubble:nth-child(4){
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5){
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6){
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7){
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8){
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9){
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration :5s;
  animation-delay: 1s;
}
.bubble:nth-child(10){
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise{
  0%{
    bottom: 0%;
    transform: translateX(0);
  }
  50%{
      bottom: 50%;
    transform: translate(100px);
  }
  100%{
    bottom: 80%;
    transform: translateX(-200px);
  }
}


@media (max-width: 1024px) {

#navi h1{
    transition: all .4s;
}
#navi .menu{
    padding-top: 6rem;
    transition: all .4s;
}
.sns{
	overflow: hidden;
	position: absolute;
	display: block;
	width: 100%;
	bottom: 3%;
	left: 0;
    transition: all .4s;
}
.sns li{
    float: left;
    width: 10%;
    margin-left: 15%;
    height: 32px;
}
.sns li:first-child{
    margin-left: 20%;
}
.sns li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

#main #content>div{
    min-height: 0;
    margin-bottom: 20rem;
}
#main #content>div:last-child{
    padding-top: 35rem;
    min-height: 60rem;
    margin-bottom: 5rem;
}

.section01 ul{
    height: auto;
}
.section01 ul li img{
    height: auto;
}
    
    
.section02 .list li{
	width: 32%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 200px;
  	margin-left: 1%;
}
.section02 .text{
	font-size: 1.5rem;
	line-height: 1.8;
	color: #fff;
}
    
.Mbox{
    display: none;
}


.section03 .list{
    display: none;
}
.section03 .mlist{
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .4s;
}
.section03 .mlist:before {
    content: '';
    display: block;
    position: absolute;
    top: 2%;
    right: 50%;
    height: 100%;
    border: 1px dashed #ffda55;
}
.section03 .mlist div{
    font-size: 1.2rem;
    position: relative;
}
.section03 .mlist .left h4:before{
    content: '';
    z-index: 3;
    display: block;
    position: absolute;
    top: 0.8rem;
    right: -0.6rem;
    width: 16px;
    height: 16px;
    border: 1px dashed transparent; 
    background: url("/img/story/bg_history_dot.png") no-repeat;
}
.section03 .mlist .right h4:before{
    content: '';
    z-index: 3;
    display: block;
    position: absolute;
    top: 0.5rem;
    left: -0.9rem;
    width: 16px;
    height: 16px;
    border: 1px dashed transparent; 
    background: url("/img/story/bg_history_dot.png") no-repeat;
}
.section03 .right{
    padding-left: 50%;
    text-align: left;
    margin-bottom: 4%;
}
.section03 .left{
    text-align: right;
    margin-bottom: 4%;
}
.section03 .text h4{
    font-family: 'GmarketSansMedium';
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 13px;
    color: #ffda55;
    display: inline-block;
    border-style: solid;
  border-image: linear-gradient(to right, #01c9ca 0%, #3886FF 100%);
  border-image-slice: 1;
    border-image-width: 0 0 3px 0;
}
.section03 .text p{
    line-height: 1.6;
}
.section03 .right .text h4{
    margin-left: 5%;
}
.section03 .right .text p{
    margin-left: 5%;
    padding-right: 1rem;
}
.section03 .left .text{
    width: 50%;
}
.section03 .left .text h4{
    margin-right: 6%;
}
.section03 .left .text p{
    margin-right: 6%;
    padding-left: 1rem;
}

    
.section04{
}
.section04 .box{
    width: 100%;
}
.box_list03 .sauce h4{
    font-size: 2rem;
	letter-spacing: 10px;
	margin-bottom: 40px;
}
.box_list03 .sauce span{
	display: block;
    float: left;
	width: 1px;
    margin-top: 1%;
    margin-left: 2%;
	height: 70px;
	background: #ccc;
}
.box_list04 li span{
    transition: all .4s;
    height: 150px;
	display: block;
	width: 1px;
	background: #ccc;
    margin-left: 50%;
    margin-top: 50%;
}



}


@media (max-width: 768px){
#navi{
	width: 100%;
	height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
#navi h1 {
    padding: 0;
    margin: 0.3rem;
    width: 15rem;
    display: inline-block;
}
.menu{
    display: none;
}
.sns{
    display: none;
}

.open-overlay{
    display: block;
}
    


#main{
    margin-top: 60px;
    float: none;
    width: 100%;
}


.section01 ul{
}
.section01 ul li{
	height: 90vh;
}
.section01 ul li img{
    width: 100%;
    height: 100%;
}
    
.tab button{
    font-size: 0.3rem;
}
.tab button:first-child{
    font-size: 1rem;
}
  
.Mbox{
    display: none;
}
    
.section05 .box{
    height: 50vh;
}
.section05 .store li {
    position: absolute;
    left: 0;
    top: 0;
    height: 50vh;
    overflow: hidden;
    width: 100%;
}
    
.sticky{
    display: none;
}
}


@media (max-width: 640px){
    #main #content>div{
        min-height: 0;
    }
    #main #content>div:last-child{
        min-height: auto;
        padding-top: 0;
        margin-bottom: 10rem;
    }

    .section02 ul{
        width: 100%;
    }
    .section02 .title{
    }
    .section02 .title p:last-child{
      padding-bottom: 3rem;
    }
    .section02 .list{
        overflow: hidden;
        position: relative;
        margin: auto 0;
    }
    .section02 .list li{
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        height: 330px;
    }
    .section02 .list li:first-child{
        margin-left: 0;
    }
    .section02 .list li img{
      display: block;
      width: 100%;
    }
    .section02 .list li span{
        position: absolute;
        top: 0;
        left: 0;
    }
    .section02 .text{
        padding-top: 5rem;
        font-size: 1.3rem;
        line-height: 1.8;
        color: #fff;
    }
    .subject{
      font-size: 1.5rem;
    }
    .section02 .text p:nth-child(2){
        font-size: 1.8rem;
        font-weight: bold;
    }

    
    .Mbox{
        display: block;
            width: 80%;
            margin: 0 auto;
        }
        .Mmenu li{
            line-height: 1.8;
        }
        .Mcate{
            color: #fff;
        }
        .Mcate p:first-child{
            background: #055aaa;
            padding: 3px 6px 0px 5px;
            border: 1px solid #055aaa;
	        border-radius: 5px;
	        border-bottom-left-radius: 0;
	        border-bottom-right-radius: 0;
            display: inline-block;
            font-family: 'Gmarketsansbold';
            font-size: 1.5rem;
            font-style: italic;
        }
        .Mcate p:nth-child(2){
            border: 3px solid #055aaa;
            border-bottom: 0px;
            line-height: 1.5;
            color: #055aaa;
            text-align: justify;
            padding: 10px;
            background: #FFF;
        }
        .item{
            border-left: 3px solid #055aaa;
            border-right: 3px solid #055aaa;
            background: #FFDA55;
            border-bottom: 1px dotted #055aaa;
            position: relative;
            overflow: hidden;
            padding: 10px;
        }
        .item:last-child{
            border-bottom: 3px solid #055aaa;
            margin-bottom: 20px;
        }
        .item .name{
            float: left;
            width: 71%;
        }
        .item .name p:first-child{
            font-family: 'Gmarketsansmedium';
        }
        .item .name p:nth-child(2){
            font-size: 0.8rem;
            margin-top: 0.2rem;
        }
        .item .price{
            float: right;
            text-align: right;
            width: 28%;
            position: relative;
        }
        .Mchips .item .price span{
            text-align: center;
        }
        .onlygrap{
            width: 100%;
        }
        .Mchips .item .price span:first-child{
            float: left;
        }
        .Mchips .item .price span:nth-child(2){
            float: right;
        }
        .Mchips .item .price span p:first-child{
            font-family: 'Gmarketsansmedium';
            font-size: 0.8rem;
            padding-top: 0.3rem;
            margin-bottom: 0.1rem;
        }
        .Msauce p:first-child{
            font-family: 'Gmarketsansmedium';
            margin-bottom: 0.5rem;
            display: inline-block;
            background: #055aaa;
            color: #fff;
            padding: 3px 3px 0;
        }
        .Mbox.Mstore .Mcate{
            border-bottom: 3px solid #055aaa;
        }
        .Mbox.Mstore .item p:first-child{
            font-family: 'Gmarketsansmedium';
        }
        .Mbox.Mstore .item p:nth-child(2){
            font-size: 0.8rem;
            margin-top: 0.2rem;
        }
    .section04 .list{
        display: none;
    }
    .section04 .Mbox{
        display: block;
        text-align: justify;
    }
    .section05{
        margin-bottom: 8rem;
    }
    .section05 .list{
        display: none;
    }
    .section05 .Mbox{
        display: block;
        text-align: justify;
    }
}
@media (max-width: 480px){
    #main #content>div{
        margin-bottom: 13rem;
    }
    #main #content>div:last-child{
        margin-bottom: 5rem;
    }

    .section02 .list li{
        height: 280px;
    }
    .section03 .text p{
        font-size: 0.95rem;
    }
}
@media (max-width: 360px){
    .section02 .title p{
        font-size: 0.95rem;
        line-height: 1.6;
        padding-bottom: 1rem;
    }
    .section02 .title p:last-child{
      padding-bottom: 2rem;
    }
    .section02 .list li{
        height: 230px;
    }
    .section02 .text{
        padding-top: 5rem;
        font-size: 1.3rem;
        line-height: 1.8;
        color: #fff;
    }
    .subject{
      font-size: 1.5rem;
    }
    .section02 .text p:nth-child(2){
        font-size: 1.8rem;
        font-weight: bold;
    }

    .section03{
        padding-bottom: 0;
        margin-bottom: 15rem;
    }
    .section04{
        margin-bottom: 15rem;
    }

    .item .name{
        float: left;
        width: 64%;
    }
    .item .name p:nth-child(2){
        font-size: 0.8rem;
        margin-top: 0.2rem;
    }
    .item .price{
        float: right;
        text-align: right;
        width: 35%;
        position: relative;
    }
}
